.body_bg {
    background-color: #222d32;
}
.mt_150 {
    margin-top: 150px;
}
.mb_20 {
    margin-bottom: 20px;
}
a:link,
a:visited,
a:hover,
a:active{
    text-decoration: none;
   
}
ul,ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
html,body {
    height: 100%;
}
body {
    padding-left: 180px;
    transition: all 1s;
}
body.active {
    padding-left: 0;
}
.lt_aside {
    position: fixed;
    left: 0;
    top: 0;
   width: 180px;
   height: 100%;
   background-color: #222d32;
   transition: all 1s;
   z-index: 100;
}
.lt_aside.active {
    left: -180px;
}
.lt_aside .brand a {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;
    color:#fff;
    font-size: 24px;
    text-align: center;
    background-color: #367fa9;
}
.lt_aside .user img{
    display: block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    line-height: 80px;
    margin: 30px auto 0;
    
}
.lt_aside .user p {
    color:#fff;
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
}
.lt_aside .nav a{
    display: block;
    height: 40px;
    line-height: 40px;
    color:#ccc;
    padding-left: 50px;
    border-left: 3px solid transparent;
}
.lt_aside .second a {
    padding-left: 70px;
}
.lt_aside .nav a.active {
    background-color: #1d1f21;
    border-left: 3px solid #337ab7;
    color:#fff;
}

.lt_main {
    width: 100%;
    height: 100%;
    /* 为了让面包屑下来 */
    padding-top:70px;
}
.lt_main .lt_header {
    background-color: #3c8dbc;
    padding: 0 20px 0 200px;
    height: 50px;
    line-height: 50px;
    margin-bottom: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 1s;
}
.lt_header.active {
    padding-left: 20px;
}
.lt_main .lt_header a {
    color:#fff;
    font-size: 18px;
}

.lt_main .lt_content .charts_left,.charts_right {
    width: 45%;
    height: 400px;
}

.table.table-bordered th,
.table.table-bordered td{
    text-align: center;
    vertical-align: middle;
}